/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
}

/* Navigatigon */
.page-sidebar {
  background-color: #FF6663;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
}



/* Section */
.page-section {
  margin-left: 50%;
  padding: 30px;
  position: absolute;
  right: 0;
  overflow-y: scroll;
  width: auto;
}